form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 99.7%;
}

.btn {
    background-color: darkgray;
    width: 100%;
}

#play-btn {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
    margin-left: 10px;
    /* margin-bottom: 5px; */
}

#hide_show_input-btn {
    margin-left: 56.8%;
    background-color: blueviolet;
    color: white;
}

.container {
    height: 440px;
}

#editor {
    font-size: 20px;
    height: 100%;
    width: 100%;
}

#input {
    position: absolute;
    font-size: 20px;
    z-index: 2;
    height: 440px;
    width: 39%;
    right: 0px;
}

#output {
    background-color: black;
    color: greenyellow;
    font-size: 20px;
    width: 100%;
}

#code {
    opacity: 0;
    height: 0%;
    width: 0%;
}
