form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container {
    height: 440px;
}

#editor {
    font-size: 20px;
    height: 100%;
    width: 100%;
}

textarea {
    background-color: black;
    color: greenyellow;
    font-size: 20px;
    width: 100%;
}

.btn {
    background-color: darkgray;
    width: 100%;
}

#play-btn {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
    margin-left: 10px;
    /* margin-bottom: 5px; */
}

#code {
    opacity: 0;
    height: 0%;
    width: 0%;
}
